title {
  align="center"
  font-size:40px
  color:  #3d98bd
 } 

  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccebf1;
}

li {
  float: left;
  color: #3d98bd;
}

li a, .dropbtn {
  display: inline-block;
  color: #3d98bd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #6bafc7;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6bafc7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #edffff;}

.dropdown:hover .dropdown-content {
  display: block;
}


body {
  font-family: Arial, sans-serif;
  background-color: #edffff;
  margin: 25px 50px 25px;
  padding: 0;
}

h1 {
  font-size: 28px;
  color:#3d98bd;
}

h2 {
  font-size: 24px;
  color: #3d98bd;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #3d98bd;
}

a {
  color: #3d98bd;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a8c896;
  color: #efe2bf;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #f5a489;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #8ee3ef;
  color: #a9fcff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
